* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* home page styling */

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
}

.header {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #2c559c;
   padding: 10px 50px;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    text-decoration: none;
}

.navbar a {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500px;
}

.navbar a:hover {
    text-decoration: underline;
    color: #0d1b69;
}

.navbar a.active {
   color: #ffffff;
   font-weight: bold;
   text-decoration: underline;
}

#menu-icon {
    display: none;
    font-size: 24px;
    color: white;
}

.home-img img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    font-size: 40px;
    color: #3f6ab5;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
    width: 100%;

}
h2 {
    text-align: center;
    background-color: #2c559c;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 0%;
}

.home-welcome h1{
    font-size: 40px;
    color: #2c559c;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    margin-top: 200px;
}

.home-welcome p{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
}

.about {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 2000px;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    margin-left: 8px;
}

.about-community {
    text-align: center;
}
 .contact-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;   
    margin: 0 auto;
}


.service-img img{
    display: block;
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.service-box {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

  /* pet page styling */
.pets-title h1{
    margin-top: 200px;
    text-align: center;
}

.pets-title p{
    text-align: center;
}


.pets-container img {
    height: 100%;
    display: inline-block;
    grid-template-columns: 2fr 1fr;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.pets-container video {
    height: 100%;
    display: inline-block;
    grid-template-columns: 2fr 1fr;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.pets-container h2 {
    background-color: #3f6ab5;
    color: #ffffff;
    width: auto;
    margin-top: 20px;
    margin-left: 0%;
}

.recipe-title h1 {
    text-align: center;
    margin-top: 200px;
}

.recipe-title p{
    text-align: center;
}

.recipe-container h2 {
    background-color: #3f6ab5;
    color: #ffffff;
    width: auto;
    margin-top: 20px;
    margin-left: 0%;
}

.recipe-container img {
    height: 100%;
    display: inline-block;
    grid-template-columns: 2fr 1fr;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    width: 40%;
}
.recipe-container {
    height: 100%;
    display: inline-block;
    grid-template-columns: 2fr 1fr;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.travel-title h1 {
    text-align: center;
    margin-top: 200px;
}

.travel-title p{
    text-align: center;
}

.travel-container h2 {
    background-color: #3f6ab5;
    color: #ffffff;
    width: auto;
    margin-top: 20px;
    margin-left: 0%;
}

.travel-container img {
    height: 100%;
    display: inline-block;
    grid-template-columns: 2fr 1fr;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    width: 40%;
}
.travel-container {
    height: 100%;
    display: inline-block;
    grid-template-columns: 2fr 1fr;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    margin: 0 auto;
}



  @media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        padding: 10px 0;
    }

    .service-img img {
        width: 100%;
        height: auto;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .services-container {
        grid-template-columns: 1fr;
    }
}

footer {
    background: #3f6ab5;
    border: 5px solid #ffffff;
    position:absolute;
    width: 100%;
    padding: 15px 15px 15px 0px;
 }
 
 footer p {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
 }
